@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

* {
    background-color: #1E1E1E;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: Montserrat;
}
/*navbar*/
.navbar_links {
    background-color: #E02B1A;
}
.navbar_links li {
    list-style: none;
}
.navbar_links ul {
    text-decoration: none;
}
/*navbar*/