@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

body , html {
    background-color: #1E1E1E;
    color: white;
}


/*navbar*/
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #E02B1A;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: #E02B1A;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

/*navbar*/
/*title*/
.creation_title {
    display: flex;
    justify-content: center;
    padding-top: 65px;
}
.creation_title p {
    font-size: 24px;
    text-transform: uppercase;
}
.deja-1compte {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
}
.deja-1compte .red {
    color: #E02B1A;
}
.deja-1compte a {
    color: white;
    text-decoration: none;
    padding-left: 8px;
}
.deja-1compte a .red{
    color: #E02B1A;
    text-decoration: none;
    padding-right: 8px;
}
.deja-1compte a .red:hover{
    color: #E02B1A;
}
/*title*/
/*input*/
.grp_infos{
    display: flex;
    justify-content: center;
}
.container_infos {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.infos {
    padding: 15px;
}
.infos input {
    background-color: #1E1E1E;
    border: solid 2px #595959;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 20px;
    font-weight: 300;
    padding-left: 15px;
    width: 520px;
    height: 64px;
}
/*input*/

/*check*/
.condition {
    display: flex;
    justify-content: center;
}
.condition label{
    font-size: 16px;
    font-weight: 300;
}
.condition .checkbox {
    padding-right: 11px;
}
/*check*/
/*button*/
.button {
    display: flex;
    justify-content: center;
}
.button input {
    background: linear-gradient(#E02B1A, #930D00);
    border: white;
    width: 200px;
    height: 48px;
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}
/*button*/