@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  box-sizing: border-box;
  text-decoration: none;

}

a{
  color: #FFFFFF;
}


body,
html {
  background-color: #1E1E1E;
  color: white;
}


/*navbar*/
nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: linear-gradient(#E02B1A, #930D00);
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav .icon_navbar {
  display: flex;
}

nav .icon {
  display: flex;
}

nav .icon_account {
  padding-right: 25px;
}

nav .icon_panier {
  padding-right: 25px;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;

}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }

  nav .logo {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@media (max-width: 1250px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    right: -100%;
    background: #C81100;
    height: 100vh;
    width: 60%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked~ul {
    right: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #1E1E1E;
  }

}

/* navbar */


.user {
  display: flex;
}

.icones {
  padding-left: 20px;
  padding-top: 20px;

}




.texte1 {
  padding-top: 80px;
}

p.p1 {
  color: #ffffff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  padding-right: 70px;
}

p.p2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.8);
}

.texte2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 80px;
  font-size: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}





hr {
  margin-top: 10px;
  background-color: #ffffff;
  height: 4px;
  size: 500px;
  z-index: -1;

}

.texte3 p {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.img {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.imgg {
  width: 400px;
}

.img span {
  padding-left: 50px;
  text-align: center;
}


.texte4 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
}

h1 {
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 14px;
}

p.p6 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;

  color: rgba(255, 255, 255, 0.8);
}
p.bye::before {
  content: '';
  position: absolute;
  background-color: #E02B1A;
  height: 4px;
  box-sizing: border-box;
  width: 100px;
  margin-top: 34px;
  z-index: 1;

}


.button {
  padding-left: 90px;
}

.button1 {
  padding-left: 120px;
}

input {
  width: 257px;
  height: 36px;
  left: 60px;
  top: 881px;
  color: #FFF;
  border: none;
  background: linear-gradient(180deg, rgba(224, 43, 26, 0.5) 0%, #930D00 123.81%);
  border-radius: 5px;
  font-size: 18px;
}

.h2p {
  text-align: center;
  margin-top: 50px;
}

/*slide mini card*/
.title_mini_card h2 {
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.02em;
  padding: 10px 0 0px 26px;
}

.container1 {
  scrollbar-width: none;
  overflow-x: scroll;
  display: flex;
  gap: 15px;
  padding: 26px;
}

.container1::-webkit-scrollbar {
  display: none;
}


.container1 .mini_card .content {
  position: absolute;
  bottom: 10px;
  padding: 20px;
  page-break-after: 20px;
  text-align: center;
}

button {
  background: #E02B1A;
  border: none;
  border-radius: 5px;
  width: 135px;
  height: 25px;
  font-size: 13px;
  color: white;
}

.mini_card {
  width: 100%;
  background-color: #595959;
  border-radius: 8px;
  color: #fff;
  margin: auto;
}

.mini_card1 {
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  color: #fff;
  margin: auto;
}

.img_mini_card {
  width: 235px;
}

.mini_card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.descr_panier {
  padding: 4%;
}

.p_botton {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.prix {
  display: flex;
  align-items: center;
}

.panier_prix {
  display: flex;
  justify-content: space-between;
  padding: 5% 0 3% 0;
}

.prix_panier p {
  font-size: 17px;
}

/*slide mini card*/


@media (max-width:700px) {

  p.p1 {
    font-size: 15px;
  }

  p.p2 {
    font-size: 15px;

  }

  p {
    font-size: 13px;
    margin-left: 40px;
  }

  .texte2 {
    margin-left: 8px;
  }


  .imgg {
    width: 240px;
  }

  .texte4 {
    display: none;
  }
  p.bye::before {
    width: 80px;
  }
}


@media screen and (min-width:701px) and (max-width:1100px){
  p.p1 {
    font-size: 15px;
  }

  p.p2 {
    font-size: 15px;

  }

  p {
    font-size: 13px;
    margin-left: 40px;
  }

  .texte2 {
    margin-left: 8px;
  }

  .imgg {
    width: 250px;
  }
.texte4{
  padding-left: 40px;
  padding-right: 100px;
}
  p.p6{
    font-size: 15px;
  }

  
}





/* footer */
footer {
  background-color: #121212;
  color: white;
}

/*footer*/
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
}

ul {
  list-style: none;
}

.footer {
  background-color: #121212;
  padding: 70px 0;
  margin-top: 80px;
}

.app {
  display: flex;
  justify-content: space-around;
}

.app img {
  padding-right: 10%;
  width: 140px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #E02B1A;
  height: 2px;
  box-sizing: border-box;
  width: 80px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.50);
  display: block;
  transition: all 0.3s ease;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  color: #E02B1A;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #FFF;
}

/*paiement*/
.icon_paiement {
  margin-right: 30px;
}

.logo_paiement {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.paiement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
}

.paiement p {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

/*paiement*/
/*swipe*/
.grp_swipe {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}

.swipe_border {
  border: solid 2px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

.swipe span {
  padding: 5px;
}

.swipe {
  display: flex;
  justify-content: center;
}

/*swipe*/
/*responsive*/
@media(max-width: 976px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    text-align: center;
  }

  .footer-col h4::before {
    display: none;
  }

  #infos {
    display: none;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}