@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

body,
html {
    background-color: #1E1E1E;
    color: white;
}

a {
    text-decoration: none;
}

/*navbar*/
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: linear-gradient(#E02B1A, #930D00);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 3%;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav .icon_navbar {
    display: flex;
}

nav .icon {
    display: flex;
}

nav .icon_account {
    padding-right: 25px;
}

nav .icon_panier {
    padding-right: 25px;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;

}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }

    nav .logo {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
    }
}

@media (max-width: 1250px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        right: -100%;
        background: #C81100;
        height: 100vh;
        width: 60%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        right: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: #1E1E1E;
    }

}

/*navbar*/

.container {
    width: 100%;
    display: flex;
    padding: 2%;
}

.img {
    width: 30%;
    height: 100%;
}

.img img {
    width: 100%;
    border-radius: 8px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 35px;
}

.box2 {
    display: flex;
    flex-direction: column;
}

.description strong {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.paragraphe_tab {
    display: none;
}

.paragraphe_tab2 {
    display: none;
}

.paragraphe_phone {
    display: none;
}

.description .p_description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.55);
    line-height: 28px;
    margin: 30px 0;
}

.livraison {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}

.livraison_button2 {
    display: none;
}

.livraison p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.truck_text {
    display: flex;
}


.text strong {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 22px;
}

.box_button {
    display: flex;
    justify-content: space-evenly;
    margin: 35px;
}

.botton_product input {
    background: linear-gradient(#E02B1A, #930D00);
    border: none;
    border-radius: 20px;
    width: 250px;
    height: 42px;
    color: white;
    font-size: 16px;
}

input {
    cursor: pointer;
}

/*popup*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.content {
    display: flex;
    margin-top: 20px;
}

.title_close h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.popup {
    margin: 200px auto;
    padding: 20px;
    background: #E02B1A;
    border-radius: 10px;
    position: relative;
    width: 60%;
    transition: all 1s ease-in-out;
}

.img_content {
    width: 30%;
}

.img_content img {
    width: 100%;
    border-radius: 5px;
}

.text_icon {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.price {
    margin-top: 25px;
}

.text1 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.02em;
}

.popup .close {
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 200ms;
    text-decoration: none;
    color: #FFF;
    font-size: 60px;
    font-weight: 300;
}

.popup .close:hover {
    color: #333;
}

.botton_popup {
    display: flex;
    gap: 38px;
    margin: 1%;
}

.botton_popup input {
    cursor: pointer;
    background: #1E1E1E;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    width: 215px;
    height: 35px;
    font-size: 16px;
}

/*popup*/
/*popup mob et tab*/
.overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
}

.overlay2:target {
    visibility: visible;
    opacity: 1;
}*/

.content2 {
    display: flex;
    margin-top: 20px;
}

.title_close2 h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.popup2 {
    padding: 20px;
    background: #E02B1A;
    position: relative;
    width: 100%;
    transition: all 1s ease-in-out;
}

.img_content2 {
    width: 60%;
}

.img_content2 img {
    width: 100%;
    border-radius: 5px;
}

.text_icon2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.price {
    margin-top: 25px;
}

.text2 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.02em;
}

.popup2 .close {
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 200ms;
    text-decoration: none;
    color: #FFF;
    font-size: 60px;
    font-weight: 300;
}

.popup2 .close:hover {
    color: #333;
}

.botton_popu2 {
    display: flex;
    gap: 38px;
    margin: 1%;
}

.botton_popup2 input {
    cursor: pointer;
    background: #1E1E1E;
    border: none;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    width: 215px;
    height: 35px;
    font-size: 16px;
}

/*popup mob et tab*/
/*card*/
.container2 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container2 .card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin-top: 14px;
}

/*hover*/

.container2 .card:hover {
    transform: scale(1.02);
    opacity: 1;
}

/*hover*/

.container2 .card {
    background-color: #595959;
    border-radius: 8px;
    color: #fff;
}

.container2 .card .content {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    page-break-after: 20px;
    text-align: center;
}

button {
    background: #E02B1A;
    border: none;
    border-radius: 5px;
    width: 135px;
    height: 25px;
    color: white;
}

.card {
    width: 24%;
    background-color: #595959;
    border-radius: 8px;
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.descr_panier {
    padding: 3%;
}

.text_panier p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.prix {
    display: flex;
    align-items: center;
}

.panier_prix {
    display: flex;
    justify-content: space-between;
    padding: 5% 0 3% 0;
}

.prix_panier p {
    font-size: 20px;
    margin-right: 8px;
}

/*card*/
@media (min-width: 535px) {
    .card {
        width: 45%;
    }

    .text_panier p {
        font-size: 12px;
    }

    .prix_panier p {
        font-size: 17px;
    }

    button {
        background: #E02B1A;
        border: none;
        border-radius: 5px;
        width: 135px;
        height: 25px;
        color: white;
        font-size: 14px;
    }

    .container2 {
        padding: 10px;
    }
}

@media (max-width: 635px) {
    .card {
        width: 45%;
    }

    .prix_panier p {
        font-size: 15px;
    }

    button {
        background: #E02B1A;
        border: none;
        border-radius: 5px;
        width: 100px;
        height: 22px;
        color: white;
        font-size: 10px;
    }

    .container2 {
        padding: 10px;
    }

}

@media (min-width: 800px) {
    .card {
        width: 30%;
    }

    .text_panier p {
        font-size: 15px;
    }

    .prix_panier p {
        font-size: 20px;
    }

}

@media (min-width: 1025px) {
    .card {
        width: 24%;
    }

    .text_panier p {
        font-size: 15px;
    }

    .prix_panier p {
        font-size: 20px;
    }

}

/* Mobile */


/* Ipad Mini to ipad */
@media screen and (min-width:964px) and (max-width: 1250px) {

    /*.box {
        width: 50%;
    }

    .img {
        width: 50%;
    }*/
    .paragraphe {
        display: none;
    }

    .paragraphe_tab {
        display: contents;
    }

    .container {
        padding: 2%;
    }

    .livraison {
        justify-content: center;
        margin-top: 20px;
    }

    .livraison_button2 {
        display: contents;
    }

    .livraison_button {
        display: none;
    }

    .img {
        width: 50%;
    }

    .box {
        width: 100%;
    }

    .description .p_description {
        margin: 20px 0;
    }

    .description strong {
        font-size: 22px;
    }

    .paragraphe_phone {
        display: none;
    }

    .description strong {
        font-size: 20px;
    }
}

/* Ipad et Mini Ordi */
@media screen and (min-width:735px) and (max-width:964px) {
    .container {
        display: flex;
        justify-content: center;
        padding: 2%;
    }

    .img {
        display: contents;
    }

    .img img {
        width: 100%;
        width: 40%;
    }

    .box {
        margin-left: 0px;
        width: 100%;
        margin-left: 30px;
        width: 60%;
    }

    .description strong {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
    }

    .description .p_description {
        font-size: 12px;
        margin: 10px 0;
        font-weight: 400;
    }

    .text strong {
        font-size: 15px;
        margin-left: 8px;
    }

    .livraison p {
        font-size: 18px;
    }

    .livraison {
        margin: 0 2%;
        justify-content: center;
        margin-top: 20px;
    }

    .livraison_button2 {
        display: contents;
    }

    .livraison_button {
        display: none;
    }

    .botton_product input {
        border-radius: 22px;
        width: 200px;
        height: 35px;
        font-size: 15px;
        margin-top: 7%;
        display: flex;
    }

    .box_button {
        justify-content: space-evenly;
        margin: 5px;
    }

    .botton_product {
        display: flex;
        justify-content: center;
    }

    .paragraphe_phone {
        display: none;
    }

    .paragraphe_tab {
        display: none;
    }

    .paragraphe_tab2 {
        display: contents;
    }

    .paragraphe {
        display: none;
    }

}

@media screen and (min-width:635px) and (max-width:735px) {
    .container {
        display: flex;
        justify-content: center;
        padding: 2%;
    }

    .img {
        display: contents;
    }

    .img img {
        width: 40%;
    }

    .box {
        margin-left: 30px;
        width: 60%;
    }

    .description strong {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0px;
    }

    .description .p_description {
        font-size: 13px;
        margin: 10px 0;
        font-weight: 400;
    }

    .text strong {
        font-size: 15px;
        margin-left: 8px;
    }

    .livraison p {
        font-size: 18px;
    }

    .livraison {
        margin: 0 2%;
        justify-content: center;
        margin-top: 20px;
    }

    .livraison_button2 {
        display: contents;
    }

    .livraison_button {
        display: none;
    }

    .botton_product input {
        border-radius: 22px;
        width: 200px;
        height: 35px;
        font-size: 15px;
        margin-top: 7%;
        display: flex;
    }

    .box_button {
        justify-content: space-evenly;
        margin: 5px;
    }

    .botton_product {
        display: flex;
        justify-content: center;
    }

    .paragraphe_phone {
        display: none;
    }

    .paragraphe_tab {
        display: none;
    }

    .paragraphe_tab2 {
        display: contents;
    }

    .paragraphe {
        display: none;
    }

}

@media (max-width:635px) {
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;

    }

    .img {
        display: contents;
    }

    .description strong {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }

    .box {
        margin-left: 0px;
        width: 100%;
    }

    .description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 16px;
    }

    .description .p_description {
        font-size: 13px;
        margin: 10px 0;
        font-weight: 400;
    }

    .text strong {
        font-size: 14px;
        margin-left: 8px;
    }

    .livraison p {
        font-size: 16px;
    }

    .livraison {
        margin: 0 2%;
        justify-content: center;
        margin-top: 5px;
    }

    .prix_product {
        margin-left: 5%;
    }

    .botton_product input {
        border-radius: 22px;
        width: 200px;
        height: 35px;
        font-size: 15px;
        margin-top: 7%;
        display: flex;
    }

    .box_button {
        justify-content: space-evenly;
        margin: 5px;
        flex-direction: column;
    }

    .botton_product {
        display: flex;
        justify-content: center;
    }

    .paragraphe_phone {
        display: contents;
    }

    .paragraphe_tab {
        display: none;
    }

    .paragraphe_tab2 {
        display: none;
    }

    .paragraphe {
        display: none;
    }
}