@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

body,
html {
    background-color: #1E1E1E;
    color: white;
}

/*navbar*/
nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: linear-gradient(#E02B1A, #930D00);
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav .icon_navbar {
    display: flex;
}

nav .icon {
    display: flex;
}

nav .icon_account {
    padding-right: 25px;
}

nav .icon_panier {
    padding-right: 25px;
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;

}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }

    nav .logo {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
    }
}

@media (max-width: 1250px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 80px;
        right: -100%;
        background: #C81100;
        height: 100vh;
        width: 60%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        right: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: #1E1E1E;
    }

}

/*navbar*/

/*image*/
.all {
    padding: 15%;
}
.image {
    display: flex;
    justify-content: center;
}

.image img {
    width: 35%;
}

.title_panier_vide h3 {
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 26px;
    padding: 1.5%;
}

.text p {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.5);
}

/*image*/

/*bouton*/
button {
    background: linear-gradient(#E02B1A, #930D00);
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    color: white;
}

/*bouton*/

/*footer*/
.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
}

ul {
    list-style: none;
}

footer {
    background-color: #121212;
}


.app {
    display: flex;
    justify-content: space-around;
}

.app img {
    padding-right: 10%;
    width: 140px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #E02B1A;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
    display: block;
    transition: all 0.3s ease;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #E02B1A;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #FFF;
}

/*paiement*/
.icon_paiement {
    margin-right: 30px;
}

.logo_paiement {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.paiement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}

.paiement p {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

/*paiement*/
/*swipe*/
.grp_swipe {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.swipe_border {
    border: solid 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.swipe span {
    padding: 5px;
}

.swipe {
    display: flex;
    justify-content: center;
}

/*swipe*/
/*responsive*/
@media(max-width: 976px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5%;
        text-align: center;
    }

    .footer-col h4::before {
        display: none;
    }

    #infos {
        display: none;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/*responsive*/
/*footer*/